<h1>Games Index</h1>
<%# <% @games ||= Player.find(params[:id] %> 

<% @games.each do |game| %>
  <%= link_to "Game Details", "/games/#{game.id}"%>
  <% game.attribute_names.each do |attribute| %>
    <p><%= "#{attribute}: " + "#{game[attribute]}"   %></p>
    <%= link_to "Edit #{game.name}", "/games/#{game.id}/edit" %>
  <% end %>
<% end %>