<h2>Player Data</h2>
<% @player.attribute_names.each do |attribute| %>
  <p><%= "#{attribute}: " + "#{@player[attribute]}"   %></p>
<% end %>

<p><a href=<%="/players/#{@player.id}/games"%>>Games Played:</a> <%= @count %></p>